{% extends "base.html.jinja" %}

{% block content %}
{{ super() }}
<div class='container'>
    <h1>Login</h1>
    <form id="loginform" action="{{ url_for("login") }}" method="post">
        {{ form.csrf_token }}
        {{ form.id.label }}
        {{ form.id }}
        {% for entry in form.errors.id %}
            {{ entry }}
        {% endfor %}
        <br>
        {{ form.password.label }}
        {{ form.password }}
        {% for entry in form.errors.password %}
            {{ entry }}
        {% endfor %}
        <input type="submit" value="Login">
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
